.white-wood {
    width: 1650px;
  }
   
  @media only screen and (max-width: 900px) {

    .white-wood { width: 90%; }
    body { font-size: 85%;}
    #logo h1 {height: 35px;
    width: 35px;}
    #logo h2 {font-size: 2.2em;}
    #social {
        position: absolute;
        width: auto;
        top: 72px;
        right: 4px;}

    .col-3 p{column-count: 2;}
            
  }

  @media only screen and (max-width: 750px){
      #navbar nav a {font-size: 0.9em;}
      .col-3 p {column-count: 1;
        width: 100%;
        margin-left: 0;
        float: none;}
        #details {height: auto;}

      }

